In [11]:
import subprocess
import shlex
import yaml
import psycopg2
import pandas as pd

In [21]:
with open('config.yml', 'r') as ymlFile:
    cfg = yaml.load(ymlFile)

    host = cfg['test']['host']
    user = cfg['test']['user']
    password = cfg['test']['password']
    database = cfg['test']['database']
    port = cfg['test']['port']
    
conn=psycopg2.connect(dbname= database,
                    host=host, 
                    port= port,
                    user= user,
                    password= password)

In [19]:
def test_tunnel(**kwargs):

    localport = '5439'
    remoteport = '5439'
    user = 'ubuntu'
    server = '54.236.32.199'
#     key = Variable.get("key_file")
    identityfile = '/home/virajparekh/Code/Astronomer/rtr/ast-dpl'
    sshTunnelCmd = "ssh -N -L %s:10.20.2.111:%s -i %s %s@%s" % (
        localport, remoteport, identityfile, user, server
    )
    args = shlex.split(sshTunnelCmd)
    tunnel = subprocess.Popen(args)
    
    print(tunnel)

In [20]:
m = test_tunnel()

<subprocess.Popen object at 0x7f6390328160>

In [10]:
%%bash
ps aux | grep ssh

virajpa+  2321  0.0  0.0  44924  5340 ?        S    16:55   0:00 ssh -N -L 5439:127.0.0.1:5439 -i /home/virajparekh/Code/Astronomer/rtr/ast-dpl ubuntu@54.236.32.199
virajpa+  2325  0.0  0.0  14228   928 ?        S    16:55   0:00 grep ssh

In [25]:
df = pd.read_sql("SELECT department, gender FROM DB LIMIT 10", conn)

In [26]:
df

                  department  gender
0                Foreclosure  Female
1            Lien Management    Male
2                   Training    Male
3  General Consumer Recovery  Female
4           Account Research    Male
5                    Finance  Female
6  General Mortgage Recovery  Female
7  General Mortgage Recovery    Male
8  General Mortgage Recovery  Female
9  General Consumer Recovery    Male